<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Welcome Admin</h1>
    <ul>
        <li>
            <a href="/admin/logout">logout</a>
        </li>
        <li>
            <button id="logOutBtn">logout</button>
        </li>
    </ul>
    <script>
        // logout button event listener here
        
    </script>
</body>
</html>