<div class="w-72 border-2 rounded mx-auto my-10 relative">
  <nav class=" ">
    <ul class="absolute top-4 right-4 hover:text-blue-900 hover:text-lg">
      <li><a href="/admin/logout">Logout</a></li>
    </ul>
  </nav>
  <h1 class="text-3xl font-bold underline p-10 pt-16">
    Hello admin
  </h1>
</div>

