<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <style>
        body{
            background-color: #2e2e2e;
            color: white;
        }
    </style>
</head>
<body>
    <h1 class="text-center display-4">Book Store</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="card" style="width: 18rem;">
                    <div class="card-body bg-dark border p-4">
                      <h5 class="card-title">Book Title </h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go To Book</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>